# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Specific project ignores
/CShard/.vs/CShard
/CShard/CShard/x64
/CShard/dependencies/glew/doc
/CShard/dependencies/glm/doc
/CShard/dependencies/glm/test
/CShard/dependencies/glm/util
/CShard/dependencies/ImGui/.github
/CShard/dependencies/ImGui/docs
/CShard/dependencies/ImGui/lib/x64/Debug
/CShard/dependencies/ImGui/x64
/CShard/x64

!CShard/dependencies/sdl/lib/x64/SDL2.lib
!CShard/dependencies/sdl/lib/Win32/SDL2.lib
/CShard/dependencies/sdl/cmake
/CShard/dependencies/sdl/docs
