[submodule "CShard\\dependencies\\ImGui\\src"]
	path = CShard\\dependencies\\ImGui\\src
	url = https://github.com/ocornut/imgui
[submodule "CShard/dependencies/ImGui/CShard\\dependencies\\glm"]
	path = CShard/dependencies/ImGui/CShard\\dependencies\\glm
	url = https://github.com/g-truc/glm
