[submodule "CShard/dependencies/ImGui/src"]
	path = CShard/dependencies/ImGui/src
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "CShard/dependencies/glm"]
	path = CShard/dependencies/glm
	url = https://github.com/g-truc/glm
